*{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    position: relative;
    height: 837px;;
    margin-bottom: 60px;

}
/* header and navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;

}
.text-primary{
    color:#FD6E0A;
 }
.btn-primary{
    
    color: white;
    font-size: 20px;
    font-weight: 200px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
}
.contact{
    font-size: 20px;
    font-weight: 200px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    margin-left: 30px;
    background:none;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}
.nav-title{
width: 121px;
height: 61px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
 .banner{
    margin-top: 340px;
    align-items: center;
    display: flex;
    justify-content: space-around;
 }
 .hello{
    font-weight: 600px;
    font-size: 47px;
    margin-bottom: 5px;

 }
 .dev-name{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
    

 }
 .dev-des{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

 }
 .main{
    max-width: 1144px;
    margin: o auto;
 }
 .about{
    margin: 131px 300px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 131px 157px;
    
 }

 .heading{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
 }

 .about-des{
   color: #757575;
   margin-bottom: 30px;
   font-size: 18px;
 }

.about-info-continer{
    display: flex;
    justify-content: space-around;
    
}
.about-title{
    color: #757575;
    font-size: 20px;
    text-align: center;

}
.about-description{
    font-weight: 700;
    font:20px;
    color: #474747;
    
}
/* skills style */
.s-tittle{
    font-size: 36px;
    font-weight: 700;
    color: #181818;
    font-family: 'Open Sans';
}
.sclass{
    margin: 131px 400px;

    text-align: center;
}

.skill-des{
    margin-top: 30px;
    color: #757575;
    font-size: 18px;
    text-align: center;
}
.skills-container{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    gap: 10px;
}
.skills{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    
}

.skill-tittle{
    width: auto;
    font-size:20px;
    font-weight:700;
    color: #181818;
}
.skill-description{
    margin-top: 20px;

}
/* section resume */
.resume{
    margin-top: 131px;
}
.section-tittle{
    font-size: 36px;
    font-weight: 700;
    color: #181818;
}
.seciton-container{
    margin-top: 113px;
    display: flex;
    gap: 71px;
}
.resume-tittle{
    font-weight: 700;
    font-size: 33px;
    margin-bottom: 30px;
}
.resume-item{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
.sub-tittle{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #757575;
    font-weight: 700;
    font-size: 16px;

}
.resume-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.section-skill{
    text-align: left;
}
.btn-primary-dwn{
    margin-top: 50px;
    
}
/* footer style */
.footer-contact{
    display: flex;
    gap: 120px;
    background: #FFF8F3;
    padding: 50px 300px;
}
.section-tittle{
    text-align: left;
}
.contact-des{
    color: #474747;
    margin-top: 20px;
    margin-bottom: 30px;

}
.footer-contact input, textarea{
    margin-bottom: 25px;
    display: grid;
    border: 1;
    padding: 18px 30px;
   
}